
.container {
    padding:4px;
    color:black
}

.Image{
    width:200px;
    height:200px;
}



p{
    width:100%;
    font-size:16px;
}

.cart-item-details{
    padding: 4px;
    font-size: 24px;
}